<app-header></app-header>
<style>
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 15px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .about-section {
    padding: 50px;
  }

  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
<section class="about-section">
  <div class="about-content">
    <h2>About Us</h2>
    <p>
     Hello Welcome 
    </p>
    
  </div>
</section>
<app-footer></app-footer>
